@model IntroMVC.Models.Company
@{
    ViewBag.Title = "Index";
}
<br />
<a class="btn btn-primary" href="/">Home</a>
<a class="btn btn-success" href="/company/projects">Projects</a>
<a class="btn btn-danger" href="/company/team">Teams</a>

<h2>Index</h2>
<h1>@Model.Name</h1>
<h1>@Model.Email</h1>
<h1>@Model.Address</h1>
<h1>@Model.Descr</h1>

