
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}
@if (Model != null)
{
    <h1>@Model.Username</h1>
    <h1>@Model.Password</h1>
}

<h2>Login</h2>
<form action="" method="post">
    <input type="text" name="Username" class="form-control" placeholder="Username" />
    <input type="password" name="Password" class="form-control" placeholder="Password" />
    <input type="submit" class="btn btn-danger" value="Login" />
    @*<a href="/home/loginsubmit" class="btn btn-success">Login</a>*@

</form>
